<section
    id="contact">
  <!--Contact start-->
  <div class="flex flex-col pt-20  items-center p-10 bg-[#1E1E1E]">
    <h3 class="text-5xl uppercase font-semibold leading-[4.5rem] text-white">Contact</h3>
    <p class="lg:text-md  text-md text-center font-sans text-white">Pentru informații suplimentare, vă rugăm să luați
            legătura cu consultanții noștri.</p>
    <div class="col-span-1 flex flex-col justify-center items-center">
      <form class="flex flex-col gap-5 max-w-[500px] pt-10 rounded-sm" action="form_handler.php" method="post">
        <input
                    type="nume"
                    id="nume"
                    name="nume"
                    class="bg-gray-50 border font-sans border-gray-300 text-gray-900 text-sm focus:gray-700 focus:border-gray-500 block
                        p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-black"
                    placeholder="Nume si prenume*"
                    required/>
        <input
                    type="email"
                    id="email"
                    name="email"
                    class="bg-gray-50 border font-sans border-gray-300 text-gray-900 text-sm focus:gray-700 focus:border-gray-500 block
                        p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-black"
                    placeholder="E-mail*"
                    required/>
        <input
                    type="telefon"
                    id="telefon"
                    name="telefon"
                    class="bg-gray-50 border font-sans border-gray-300 text-gray-900 text-sm focus:gray-700 focus:border-gray-500 block
                        p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-black"
                    placeholder="Telefon*"
                    required/>
        <textarea
                    id="message"
                    name="message"
                    class="bg-gray-50 border font-sans border-gray-300 text-gray-900 text-sm focus:gray-700 focus:border-gray-500 block
                        p-2.5 resize-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                        dark:focus:border-black"
                    placeholder="Mesaj*"
                    required></textarea>
        <div class="flex gap-5 items-start">
          <input class="mt-0.5" type="checkbox" name="tc2" id="tc2">
          <label class="text-xs font-medium font-sans text-white" for="tc2">Am citit termeni si conditii, politica de protectia
                        a datelor si sunt de acord cu prelucrarea datelor cu caracter personal.</label>
        </div><input
                    type="submit"
                    value="Trimite Solicitare"
                    class="py-3 px-3 hover:apply-shadow flex justify-center  btn-drop-shadow bg-[#FFBD3E] uppercase font-semibold"/>
      </div>
    </form>
  </div>
</div>
<!--Contact end-->
</section>