<!-- Facility Start-->
<section id="facilitati">
  <div class="bg-[#212A26] px-5 justify-center items-center flex flex-col pb-20">
    <div class="container mx-auto items-start flex flex-col gap-10 min-h-[50vh] py-20">
      <h1 class="text-white font-serif text-4xl">Facilități</h1>
      <div class="lg:grid lg:grid-cols-3 flex flex-col relative z-10 gap-10">
        <div class="col-span-1">
          <div class="bg-white rounded-3xl p-10">
            <div class="flex flex-col gap-2">
              <img class="w-[80px]" src="/assets/img/Forest.png" alt="forest icon"/>
              <span class="text-2xl font-serif text-black">Pădure proprie</span>
              <span class="text-sm text-black">Pentru că am înțeles din experiența primului său proiect Eden Forest Gulia importanța
                spațiilor verzi, am achiziționat 7 hectare din pădurea de lângă proiect, iar acestea vor fi la dispoziția Eden Forest
                Crevedia.</span>
            </div>
          </div>
        </div>
        <div class="col-span-1">
          <div class="border-l bg-white rounded-3xl p-10">
            <div class="flex flex-col gap-2 ps-5">
              <img class="w-[80px]" src="/assets/img/Wind.png" alt="wind icon"/>
              <span class="text-2xl font-serif text-black">Aer curat</span>
              <span class="text-sm text-black">Pe o rază de 4km de proiect se află 1.100 de hectare de pădure, zona fiind una dintre
                cele mai “verzi” din jurul Bucureștiului.</span>
            </div>
          </div>
        </div>
        <div class="col-span-1">
          <div class="border-l bg-white rounded-3xl p-10">
            <div class="flex flex-col gap-2 ps-5">
              <img class="w-[80px]" src="/assets/img/Map.png" alt="map icon"/>
              <span class="text-2xl font-serif text-black">Plan urbanistic modern</span>
              <span class="text-sm text-black">Proiectul include 131 de loturi de casă, 1 lot cu destinație comercială, 1 lot cu
                destinația de teren de sport/loc de joacă.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="py-3 px-3 btn-drop-shadow flex justify-center w-[200px] rounded-3xl bg-white uppercase font-semibold"
      href="/loturi">
      Vezi loturi
    </a>
  </div>
</section>
<!--Facility End-->