<!-- Footer Start -->
<footer class="bg-[#161616]">
    <div class="container mx-auto px-5">
        <div class="lg:grid lg:grid-cols-3 flex flex-col-reverse pt-10">
            <div class="col-span-1 pt-10">
                <div class=" gap-4 flex flex-col">
                    <a href="/" class="flex flex-shrink-0 ">
                        <img class="w-50 h-50" src="/assets/img/logo.png" alt="logo icon"/>
                    </a>
                    <div class="flex items-end gap-5">
                        <img class="h-[24px]" src="/assets/img/Pin.png" alt="pin icon"/>
                        <a href="https://maps.app.goo.gl/2pgsRd2Ku8WE2mYW8/" class="">
                            <span class="text-white text-md">Vezi locația</span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col gap-4 my-10 text-white">
                    <h3 class="text-2xl font-serif ">Contact</h3>
                    <div class="flex gap-5">
                        <img src="/assets/icons/Phone.png" alt="phone icon" class=""/>
                        <a href="tel:+40731616312" class="text-md font-sans">+(40)731 616 312</a>
                    </div>
                    <div class="flex gap-5">
                        <img src="/assets/icons/Envelope.png" alt="envelope icon" class=""/>
                        <a href="mailto:traian.stancu@gmail.com" class="text-md font-sans">traian.stancu@gmail.com</a>
                    </div>
                </div>
                <div class="lg:pb-20 pb-10">
                    <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=RO" class="">
                        <img src="/assets/img/SOL.png" alt="sol iamge"/>
                    </a>
                    <a href="https://anpc.ro/ce-este-sal/" class="">
                        <img src="/assets/img/SAL.png" alt="sal image"/>
                    </a>
                </div>
            </div>
            <div class="col-span-1"></div>
            <div class="col-span-1">
                {% include "contact.njk" %}
            </div>
        </div>
        <div class="sm:hidden container mx-auto flex flex-col TE bg-[#161616]">
            <div class="flex gap-1 text-center items-center justify-center ">
                <a href="/termene-si-conditii" class="lg:text-sm text-xs text-white font-sans">Termeni & Conditii</a>
                <div class="h-3 border-l-2 border-white"></div>
                <a href="/politica-de-confidentialitate" class="lg:text-sm text-xs text-white font-sans">Poltica de confidentialitate</a>
                <div class="h-3 border-l-2 border-white"></div>
                <a href="/politica-cookies" class="lg:text-sm text-xs text-white font-sans">Poltica cookies</a>
            </div>
        </div>
        <hr class="w-full h-[0.05rem] mt-5 bg-white border-0 ">
        <div class="container mx-auto lg:flex lg:flex-row lg:justify-between lg:items-center flex flex-col items-start px-5 gap-2
                justify-center">
            <a href="#" class="text-sm font-sans pt-2 text-white">
                <span>&#169; Eden Forest Crevedia.</span>
                All Rights Reserved.</a>
            <div class="hidden lg:flex  gap-1 lg:text-center lg:items-center justify-center ">
                <a href="/termene-si-conditii" class="lg:text-sm text-xs text-white font-sans">Termeni & Conditii</a>
                <div class="h-3 border-l-2 border-white"></div>
                <a href="/politica-de-confidentialitate" class="lg:text-sm text-xs text-white font-sans">Poltica de confidentialitate</a>
                <div class="h-3 border-l-2 border-white"></div>
                <a href="/politica-cookies" class="lg:text-sm text-xs text-white font-sans">Poltica cookies</a>
            </div>
            <div class="flex flex-row items-center gap-5">
                <span class="text-sm text-white font-roboto">
                    Website realizat de
                </span>
                <a href="https://searchads.ro" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/img/logo_SA.png" alt="logo searchads" class=""/>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->