<!-- Header Start-->
<div class="header p-5 lg:px-28">
    {% include "nav.njk" %}
</div>
<hr class="w-full h-0.05 text-gray-200"/>
<div class="header min-h-[90vh] flex flex-col justify-center">
    <div class="container mx-auto p-5 flex flex-col gap-10">
        <h1 class="text-white font-serif lg:text-6xl text-4xl">Loturi de Casa Crevedia, lângă pădure</h1>
        <p class="text-white  text-md">Eden Forest Crevedia este o comunitate de oameni educati, care apreciaza natura si o
            respecta si care pun pret pe regulile de convietuire. Este gandit pentru cei care doresc sa aiba langa Bucuresti locul
            lor unde sa isi poata petrece timpul liber impreuna cu familia si sa aiba activitati in natura (plimbari, trasee cu
            bicicleta, pescuit si multe altele).</p>
        <div class="lg:w-1/2 glass glass-drop-shadow lg:p-10 p-5">
            <div class="grid grid-cols-3 relative z-10">
                <div class="col-span-1">
                    <div class="flex flex-col gap-2">
                        <span class="lg:text-4xl text-2xl font-serif  text-white">130000m<span class="text-sm absolute -top-1">2</span>
                        </span>
                        <span class="lg:text-xl text-md text-white">Suprafață</span>
                    </div>
                </div>
                <div class="col-span-1 border-l border-white border-opacity-25 h-full">
                    <div class="flex flex-col ps-5 gap-2">
                        <span class="lg:text-4xl text-2xl font-serif  text-white">131</span>
                        <span class="lg:text-xl text-md text-white">Loturi de Casă</span>
                    </div>
                </div>
                <div class="col-span-1 border-l border-white border-opacity-25 h-full">
                    <div class="flex flex-col ps-5 gap-2">
                        <span class="lg:text-4xl text-2xl font-serif  text-white">7ha</span>
                        <span class="lg:text-xl text-md text-white">Pădure Proprie</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Header end-->