<!-- Header Start-->
<div class="header min-h-[100vh]">
    <div class="container mx-auto h-full">
        <div class="py-5">
            {% include "nav.njk" %}
        </div>
        <h1 class="text-white">Loturi de Casa Crevedia, lângă pădure</h1>
        <p class="text-white">Eden Forest Crevedia este o comunitate de oameni educati, care apreciaza natura si o respecta si care pun pret pe regulile de convietuire.  Este gandit pentru cei care doresc sa aiba langa Bucuresti locul lor unde sa isi poata petrece timpul liber impreuna cu familia si sa aiba activitati in natura (plimbari, trasee cu bicicleta, pescuit si multe altele).</p>
    </div>
</div>
<!-- Header end-->