<!-- Map Start-->
<section id="locatie">
  <div class="lg:bg-[url('/edencrevedia/assets/img/harta.png')] bg-[url('/edencrevedia/assets/img/harta-mobile.png')] px-5 min-h-[90vh] flex flex-col
      w-full justify-center ">
    <div class="container mx-auto h-full flex flex-col gap-10">
      <div class="lg:grid lg:grid-cols-3 flex flex-col">
        <div class="col-span-1"></div>
        <div class="col-span-1"></div>
        <div class="col-span-1 border-l bg-white rounded-3xl p-10">
          <div class="flex flex-col ">
            <span class="text-3xl font-serif text-black">Avantajele locației</span>
            <ul class="flex flex-col gap-5 font-roboto mt-10">
              <div class="flex justify-between">
                <li>Kaufland
                </li>
                <span class="text-black font-semibold">
                  - 10 min</span>
              </div>
              <div class="flex justify-between">
                <li>Lidl
                </li>
                <span class="text-black font-semibold">
                  - 10 min</span>
              </div>
              <div class="flex justify-between">
                <li>Mega Image
                </li>
                <span class="text-black font-semibold">
                  - 2 min</span>
              </div>
              <div class="flex justify-between">
                <li>Spitalul Buftea
                </li>
                <span class="text-black font-semibold">
                  - 5 min</span>
              </div>
              <div class="flex justify-between">
                <li>Scoala Nr.1 Buftea
                </li>
                <span class="text-black font-semibold">
                  - 15 min</span>
              </div>
              <div class="flex justify-between">
                <li>Jysk
                </li>
                <span class="text-black font-semibold">
                  - 15 min</span>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>