<!-- Price Start-->
<div class="container mx-auto px-5 h-full flex flex-col min-h-[70vh] py-20">
  <div class="lg:flex lg:flex-row flex flex-col items-center gap-2">
    <span class="lg:w-1/2 text-4xl lg:text-start text-center font-serif text-black">Prețuri și disponibilitate</span>
    <span class="lg:w-1/2 lg:text-end text-center  text-black">35 de familii s-au alaturat deja proiectului Eden Forest
      Crevedia. <br/>Grabeste-te, preturile cresc pe masura ce proiectul se dezvolta.</span>
  </div>
  <div class="flex flex-col items-center gap-5 my-10">
    <span class=" text-4xl font-bold text-center">20€/MP TVA INCLUS</span>
    <span class="text-md text-center text-black">Terenuri cu suprafață de 628 mp<br/> (22 metri deschidere x 29 metri
      adancime).
    </span>
  </div>
  <img class="mb-10" src="/assets/img/loturi.png"/>
  <div class="flex justify-center items-center">
    <a
      class="py-3 px-3 btn-drop-shadow flex justify-center w-[200px] text-white rounded-3xl bg-[#212A26] uppercase
        font-semibold"
      href="/loturi">
      Vezi loturi
    </a>
  </div>
</div>
<!-- Price end-->