<!-- Utilities Start-->
<section id="utilitati">
  <div class="bg-[#212A26] px-5 justify-center items-center flex flex-col pb-20">
    <div class="container mx-auto items-start flex flex-col gap-10 min-h-[50vh] py-20">
      <h1 class="text-white font-serif text-4xl">Utilități</h1>
      <div class="lg:grid lg:grid-cols-3 flex flex-col relative z-10 gap-10">
        <div class="col-span-1">
          <div class="border-l glass glass-drop-shadow rounded-xl p-5">
            <div class="flex items-center gap-5 ">
              <img class="w-[50px] h-[50px] p-2 bg-[#212A26] rounded-xl" src="/assets/img/Road.png"/>
              <span class="text-md text-white">Drumuri interioare pietruite</span>
            </div>
          </div>
        </div>
        <div class="col-span-1">
          <div class="border-l glass glass-drop-shadow rounded-xl p-5">
            <div class="flex items-center gap-5">
              <img class="w-[50px] h-[50px] p-2 bg-[#212A26] rounded-xl" src="/assets/img/Gas.png"/>
              <span class="text-md text-white">Retea de gaze la intrarea din DN1A</span>
            </div>
          </div>
        </div>
        <div class="lg:col-span-1 lg:flex hidden"></div>
        <div class="col-span-1">
          <div class=" border-l glass glass-drop-shadow rounded-xl p-5">
            <div class="flex items-center gap-5 ">
              <img class="w-[50px] h-[50px] p-2 bg-[#212A26] rounded-xl" src="/assets/img/Light On.png"/>
              <span class="text-sm text-white">Retea electrica aprobata cu bransament individual trifazatla fiecare lot</span>
            </div>
          </div>
        </div>
        <div class="col-span-1">
          <div class="border-l glass glass-drop-shadow rounded-xl p-5">
            <div class="flex items-center gap-5 ">
              <img class="w-[50px] h-[50px] p-2 bg-[#212A26] rounded-xl" src="/assets/img/Lightning Bolt.png"/>
              <span class="text-md text-white">Retea iluminat stradal</span>
            </div>
          </div>
        </div>
        <div class="col-span-1">
          <img class="rounded-xl lg:absolute w-[400px] h-[260px] right-0 top-0 lg:-top-5" src="/assets/img/header_bg.jpeg"/>
        </div>
      </div>
    </div>
    <a
      class="py-3 px-3 btn-drop-shadow flex justify-center w-[200px] rounded-3xl bg-white uppercase font-semibold"
      href="/loturi">
      Vezi loturi
    </a>
  </div>
</section>
<!--Utilities End-->