---
title: Contact
category: analytics
layout: base.njk
---

<div class="lg:grid lg:grid-cols-2 lg:gap-16 mx-auto min-w-[75%] flex flex-col w-full bg-cover bg-black bg-no-repeat">
    <div class="col-span-2 flex flex-row items-center lg:px-24 px-6 py-6 w-full">
        <a href="/" class="lg:flex lg:flex-shrink-0 ">
            <img class="lg:max-w-full max-w-[150px] p-2" alt=""/>
        </a>
        <div class="lg:ps-60 ps-48 ">
            {% include "nav.njk" %}
        </div>
    </div>
</div>
<div class=" w-full  bg-cover items-center flexbg-no-repeat min-h-[50vh] z-10">
    <div class="col-span-1 container mx-auto lg:flex lg:flex-col lg:max-w-[50%] max-w-[80%] my-10 flex flex-col gap-12
            justify-center">
        <h1 class="text-5xl uppercase leading-[4.5rem] text-black">
            Contact
        </h1>
        <h6 class="text-md text-[#968F8F] font-roboto leading-5 tracking-wide">Aveți întrebări în ceea ce privește oferta
            noastră?<br/> Vă rugăm să completați formularul de mai jos.</h6>
    </div>
</div>
{% include "contact.njk" %}