---
title: Thank You!
category: analytics
---

<p>
    Formularul a fost trimis cu succes. Un reprezentant vă va contacta în scurt timp.
</p>
<div class="mt-8">
    <a href="/" class="bg-black text-white px-5 py-3">Back</a>
</div>